<app-botao-logo></app-botao-logo>

<div class="container">

  <button class="btn btn-dark m-3" (click)="create()">Novo</button>
  <div class="table-container d-flex justify-content-center align-items-center">
    <div class="table-responsive">
      <table class="table table-striped table-bordered">
        <thead>
          <tr class="text-center">
            <th scope="col">ID</th>
            <th scope="col">Titulo do Curso</th>
            <th scope="col">Sigla do Curso</th>
            <th scope="col">Disciplina</th>
            <th scope="col">Sigla da Disciplina</th>
            <th scope="col">Professor</th>
            <th scope="col">Período</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr class="text-center" *ngFor="let course of courses">
            <th scope="row">{{course.id}}</th>
            <td>{{course.title}}</td>
            <td>{{course.course}}</td>
            <td>{{course.discipline}}</td>
            <td>{{course.acronym}}</td>
            <td>{{course.teacher}}</td>
            <td>{{course.period}}</td>
            <td>
              <button type="button" class="btn btn-dark me-1" (click)="edit(course)" >Editar</button>
              <button type="button" class="btn btn-dark" (click)="delete(course)">Excluir</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
