<app-botao-logo></app-botao-logo>

<div class="container">

  <button class="btn btn-dark m-3" (click)="create()">Novo</button>
  <div class="table-container d-flex justify-content-center align-items-center">
    <div class="table-responsive">
      <table class="table table-striped table-bordered">
        <thead>
          <tr class="text-center">
            <th scope="col">ID</th>
            <th scope="col">Data e horário</th>
            <th scope="col">Sala</th>
            <th scope="col">Professor</th>
            <th scope="col">Disciplina</th>
            <th scope="col">Curso</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr class="text-center" *ngFor="let class of classes">
            <th scope="row">{{class.id}}</th>
            <td>{{class.date}}</td>
            <td>{{class.room}}</td>
            <td>{{class.teacher}}</td>
            <td>{{class.discipline}}</td>
            <td>{{class.course}}</td>
            <td>
              <button type="button" class="btn btn-dark me-1" (click)="edit(class)" >Editar</button>
              <button type="button" class="btn btn-dark" (click)="delete(class)">Excluir</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
