.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 130vh;
}

.logo {
  position: absolute;
  width: 250px;
  height: 194px;
  top: 15px;
  left: 60px; 
  background: url(/assets/icon/fatec.png) ;
  background-size: contain;
  background-repeat: no-repeat;
}

.button-exit {
  background-color: transparent;
  border: 2px solid black;
  border-radius: 50%;
  padding: 0;
  position: absolute;
  top: 30px;
  right: 30px;

  float: right;
  margin: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 4em;
  height: 4em;

  cursor: pointer;
}

.button-exit svg {
  width: 70%;
  height: auto;
  fill: black;
}

.exit-text{
  position: absolute;
  top: 110px; /* Adiciona espaço entre o botão e o texto */
  right: 48px;
  font-family: "Arial", sans-serif; /* Defina a fonte desejada */
  font-size: 20px; /* Tamanho da fonte do texto */
  color: black; /* Cor do texto */
  font-weight: bold;
}

.icon {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}
